<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dogplay">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.owner.OwnerEnrollHotelRoom" />
        <activity android:name=".ui.owner.OwnerEnrollHotel" />
        <activity android:name=".ui.owner.EditRoom" />
        <activity android:name=".ui.owner.EditPage" />
        <activity android:name=".ui.owner.HostMain" />
        <activity android:name=".ui.owner.HostReviewPage" />
        <activity android:name=".ui.owner.CheckAllReservation" />
        <activity android:name=".ui.owner.HostReReview" />
        <activity android:name=".ui.owner.LoginMain" />

        <activity
            android:name=".ui.owner.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".HotelDetail"/>
        <activity android:name=".InfoDetail"/>
        <activity android:name=".CalendarView"/>
        <activity android:name=".MyDogPage"/>
        <activity android:name=".RoomDetail"/>
        <activity android:name=".DirectMessage"/>
        <activity android:name=".CartPage"/>
        <activity android:name=".AllReview"/>
        <activity android:name=".KakaoWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBoj6Nwjapgdvd4YSmJyU5vkF6DAfh_1ik" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>
</manifest>